# IDE
.idea

# Ignore Gradle project-specific cache directory
budgetiq-backend/.gradle

# Ignore Gradle build output directory
budgetiq-backend/build
budgetiq-backend/ai-service/build
budgetiq-backend/core-service/build
budgetiq-backend/api-gateway/build
budgetiq-backend/common/security/build
budgetiq-backend/common/web/build